<li>2012-07-06 <a href="http://rubykaigi.tdiary.net/20120706.html#p02" target="_blank">Sapporo RubyKaigi2012: Call For Lightning Talk (LT)</a></li>
<li>2012-07-05 <a href="http://rubykaigi.tdiary.net/20120705.html#p02" target="_blank">The second round tickets of the Sapporo RubyKaigi 2012 main event have been sold out only by the waitlist.</a></li>
<li>2012-07-03 <a href="http://rubykaigi.tdiary.net/20120703.html#p02" target="_blank">Plan for handling trouble with first round of ticket sales and secondary sales of Sapporo RubyKaigi 2012</a></li>
<li>2012-06-30 <a href="http://rubykaigi.tdiary.net/20120630.html#p02" target="_blank">An apology for an issue affecting the purchase of tickets for Sapporo RubyKaigi 2012</a></li>
<li>2012-06-20 <a href="http://rubykaigi.tdiary.net/20120620.html#p02" target="_blank">Sapporo RubyKaigi 2012 Conference and Official Party Registration (Planned)</a></li>
<li>2012-06-07 <a href="http://rubykaigi.tdiary.net/20120607.html#p02" target="_blank">Status update for SPRK2012</a></li>
