<li>2012-09-12 <a href="http://rubykaigi.tdiary.net/20120912.html#p02" target="_blank">9/14(Fri) 12:00 Heroku Bento and Tumbler(limited 100)</a></li>
<li>2012-09-04 <a href="http://rubykaigi.tdiary.net/20120904.html#p02" target="_blank">Prior Payment request for the tickets</a></li>
<li>2012-08-12 <a href="http://rubykaigi.tdiary.net/20120809.html#p02" target="_blank">Here's the Lightning Talk Speaker List on Sapporo RubyKaigi 2012</a></li>
<li>2012-08-12 <a href="http://rubykaigi.tdiary.net/20120812.html#p02" target="_blank">Information about NuRubyKaigi</a></li>
