<li>2012-08-05 <a href="http://rubykaigi.tdiary.net/20120805.html#p02" target="_blank">Sapporo RubyKaigi 2012: [For Students] Assistance for transportation expenses</a></li>
<li>2012-07-30 <a href="http://rubykaigi.tdiary.net/20120730.html#p01" target="_blank">The ticket sales for the official after party of Sapporo RubyKaigi 2012</a></li>
<li>2012-07-19 <a href="http://rubykaigi.tdiary.net/20120719.html#p02" target="_blank">Sapporo RubyKaigi 2012 schedule details is now online.</a></li>
<li>2012-07-12 <a href="http://rubykaigi.tdiary.net/20120712.html#p02" target="_blank">Mailing List for Sapporo RubyKaigi2012 international attendees</a></li>
<li>2012-07-09 <a href="http://rubykaigi.tdiary.net/20120709.html#p02" target="_blank">The second round of ticket sales for Sapporo RubyKaigi 2012’s official party will commence</a></li>
<li>2012-07-06 <a href="http://rubykaigi.tdiary.net/20120706.html#p02" target="_blank">Sapporo RubyKaigi2012: Call For Lightning Talk (LT)</a></li>
<li>2012-07-05 <a href="http://rubykaigi.tdiary.net/20120705.html#p02" target="_blank">The second round tickets of the Sapporo RubyKaigi 2012 main event have been sold out only by the waitlist.</a></li>
