<li>2012-09-17 <a href="http://rubykaigi.tdiary.net/20120917.html#p01" target="_blank">札幌Ruby会議2012が終了しました</a></li>
<li>2012-09-12 <a href="http://rubykaigi.tdiary.net/20120912.html#p03" target="_blank">札幌Ruby会議2012 参加者のしおり</a></li>
<li>2012-09-12 <a href="http://rubykaigi.tdiary.net/20120912.html#p01" target="_blank">9/14(金) 12:00 限定100個！Heroku弁当＆Herokuタンブラーを配布します！</a></li>
<li>2012-09-04 <a href="http://rubykaigi.tdiary.net/20120904.html#p01" target="_blank">チケットの事前決済ご協力のお願い</a></li>
<li>2012-08-29 <a href="http://rubykaigi.tdiary.net/20120829.html#p01" target="_blank">Sapporo RubyKaigi 2012 スペシャルレポート 札幌Ruby会議2012事前特集が公開されました</a></li>
