<li>2012-08-29 <a href="http://rubykaigi.tdiary.net/20120829.html#p01" target="_blank">Sapporo RubyKaigi 2012 スペシャルレポート 札幌Ruby会議2012事前特集が公開されました</a></li>
<li>2012-08-12 <a href="http://rubykaigi.tdiary.net/20120812.html#p01" target="_blank">ぬRubyKaigiのおしらせ</a></li>
<li>2012-08-09 <a href="http://rubykaigi.tdiary.net/20120809.html#p01" target="_blank">札幌Ruby会議2012のライトニングトークスの選考を行いました</a></li>
<li>2012-08-05 <a href="http://rubykaigi.tdiary.net/20120805.html#p01" target="_blank">札幌Ruby会議2012の学生交通費支援制度のエントリーついて</a></li>
<li>2012-07-30 <a href="http://rubykaigi.tdiary.net/20120730.html#p02" target="_blank">札幌Ruby会議2012の懇親会「公式2次会」のチケット販売を開始します</a></li>
