<li>2012-07-24 <a href="http://rubykaigi.tdiary.net/20120724.html#p01" target="_blank">札幌Ruby会議2012 のオリジナルTシャツを販売しています</a></li>
<li>2012-07-19 <a href="http://rubykaigi.tdiary.net/20120719.html#p01" target="_blank">札幌Ruby会議2012 のタイムテーブルを公開しました</a></li>
<li>2012-07-12 <a href="http://rubykaigi.tdiary.net/20120712.html#p01" target="_blank">札幌Ruby会議2012参加者向けのメーリングリストを用意しました</a></li>
<li>2012-07-09 <a href="http://rubykaigi.tdiary.net/20120709.html#p01" target="_blank">札幌Ruby会議2012の懇親会チケットの２次販売を開始します</a></li>
<li>2012-07-06 <a href="http://rubykaigi.tdiary.net/20120706.html#p01" target="_blank">札幌Ruby会議2012のライトニングトークを募集します</a></li>
<li>2012-07-05 <a href="http://rubykaigi.tdiary.net/20120705.html#p01" target="_blank">札幌Ruby会議2012の本編チケットの２次販売予定分はキャンセル待ちの方々の分で全て完売しました</a></li>
<li>2012-07-03 <a href="http://rubykaigi.tdiary.net/20120703.html#p01" target="_blank">札幌Ruby会議2012のチケット発売後の障害に対する対策の方針と二次販売の見通しについて</a></li>
