@charset "UTF-8";
/*--- mixins ----------------------------------------------*/
/*--- default ----------------------------------------------*/
* {
  color: #293745;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-family: "Karla", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

html {
  width: 100%; }

body {
  background: url(../images/commonBackground.png) repeat;
  width: 100%;
  height: 100%;
  line-height: 150%;
  margin-top: 10px;
  padding: 0 0 60px 0; }

a:link,
a:visited,
a:active {
  color: #fcd7cd; }

a:hover {
  color: #f69b82;
  text-decoration: underline; }

a:link img,
a:visited img,
a:hover img,
a:active img {
  border: none;
  text-decoration: none; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

address {
  font-style: normal; }

h2,
h3 {
  clear: both;
  margin: 25px 0 10px 0;
  font-family: 'Crete Round', serif;
  letter-spacing: 2px;
  color: #ee3706; }

nav {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

ul li img {
  margin-right: 10px; }

ol {
  padding: 20px; }

strong {
  font-size: 120%;
  font-weight: bold; }

table {
  border-collapse: collapse;
  border: 1px solid #edcfd1; }

table tr,
table tr th,
table tr td {
  padding: 10px;
  border: 1px solid #edcfd1;
  border-collapse: collapse; }

th {
  background: #edcfd1; }

/*--- id, class ----------------------------------------------*/
p.btn a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }
p.btn a:link,
p.btn a:visited,
p.btn a:hover,
p.btn a:active {
  text-decoration: none;
  color: #fff; }
p.btn a:link,
p.btn a:visited {
  background: #ee3706; }
p.btn a:hover,
p.btn a:active {
  background: #f15f38;
  position: relative; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

header nav {
  background: #293745;
  text-align: center;
  margin: 10px 0; }
  header nav ul {
    margin: 0 auto;
    padding: 0px; }
    header nav ul li {
      margin-right: 0px;
      text-align: center;
      height: 40px;
      line-height: 40px; }
      header nav ul li:hover {
        background: #3e4b57; }
      header nav ul li a:link,
      header nav ul li a:visited,
      header nav ul li a:hover,
      header nav ul li a:active {
        letter-spacing: 1px;
        font-family: 'Crete Round', serif;
        color: #d4d7da;
        text-decoration: none; }

#mainImg {
  margin-bottom: 10px; }

#localNav a:link,
#localNav a:visited,
#localNav a:active {
  color: #293745; }
#localNav a:hover {
  color: #7f878f;
  text-decoration: underline; }
#localNav li {
  padding: 0 0 0 20px;
  background: url(../images/commonListMark.png) no-repeat left top; }

#content {
  background: rgba(255, 255, 255, 0.6); }
  #content article {
    padding: 20px; }
  #content strong {
    display: block;
    text-align: center; }
  #content h2,
  #content h3 {
    font-weight: bold;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  #content h2 {
    border-left: 10px solid #edcfd1;
    padding-left: 6px;
    margin-bottom: 10px;
    font-size: 140%; }
  #content h3 {
    font-size: 110%; }
  #content a:link,
  #content a:visited,
  #content a:active {
    color: #293745; }
  #content a:hover {
    text-decoration: underline; }

.wrapper {
  background: #293745; }

.gridContainer > h1 {
  color: #fdebe6;
  background: #ee3706;
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  letter-spacing: 2px; }

footer {
  clear: both;
  margin-top: 5px; }
  footer a:link, footer a:visited, footer a:active {
    color: #293745; }
  footer a:hover {
    color: #7f878f;
    text-decoration: underline; }
  footer nav {
    float: left; }
    footer nav li {
      padding: 0 0 0 20px;
      background: url(../images/commonListMark.png) no-repeat left top; }
  footer aside {
    float: right;
    text-align: right; }
    footer aside #lang li {
      background: #293745;
      padding: 3px;
      width: 100px;
      margin-left: 2px;
      text-align: center;
      display: inline-block; }
      footer aside #lang li:hover {
        background: #3e4b57; }
      footer aside #lang li a {
        text-decoration: none;
        color: #d4d7da; }
  footer #copyright {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 80%;
    text-align: right; }

.socialBtn {
  display: inline-block;
  float: right;
  margin: 1px 0 0 3px; }

.backToTop {
  clear: both;
  text-align: right; }
  .backToTop a {
    padding: 0 0 0 20px;
    background: url(../images/commonBackToTop.png) no-repeat left top; }

/*--- home ----------------------------------------------*/
#information {
  margin-bottom: 20px; }
  #information dl {
    padding: 0; }
  #information dt {
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    color: #eff6f6; }
  #information dd {
    display: inline-block;
    color: #fcd7cd; }

#news {
  padding: 9px;
  border: 5px solid rgba(255, 255, 255, 0.2); }
  #news h2 {
    margin-top: 10px;
    color: #eff6f6; }

#news p,
#information p {
  color: #fcd7cd; }

#cfp {
  font-size: 90%;
  margin-bottom: 30px; }
  #cfp p {
    line-height: 150%;
    margin: 7px; }
  #cfp hr {
    border: 0;
    border-bottom: 1px dashed #fff; }

/*--- team ----------------------------------------------*/
#team ul li {
  margin-bottom: 10px; }

/*--- sponsors ----------------------------------------------*/
#sponsors h3 {
  display: inline-block; }
#sponsors ul {
  padding: 0; }
#sponsors li {
  clear: both;
  margin-bottom: 20px; }
  #sponsors li:after {
    content: "";
    display: block;
    clear: both; }
#sponsors .logo {
  float: left; }
#sponsors .url {
  text-align: right;
  margin-bottom: 10px; }
  #sponsors .url a {
    padding: 0 0 0 20px;
    background: url(../images/commonWebMark.png) no-repeat left top; }
#sponsors #ruby img {
  width: 180px; }
#sponsors #platinum img {
  width: 120px; }
#sponsors #gold img {
  width: 90px; }
#sponsors #gold li {
  display: inline-block; }

/*--- cfs ----------------------------------------------*/
#format {
  padding: 20px;
  border: 3px solid #D4D7DA; }
  #format * {
    color: #293745; }
  #format .bottomItem {
    margin-bottom: 70px; }
  #format strong {
    font-size: 100%;
    text-align: left; }
