@charset "UTF-8";
/*--- default ----------------------------------------------*/

* {
	color: #ee3706;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: "Quicksand", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html {
  width: 100%;
}

body {
  background: url(../images/background.png) repeat;
  width: 100%;
  height: 100%;
	line-height: 150%;
  margin-top: 10px;
  padding: 0 0 60px 0;
}

a:link,
a:visited,
a:active {
  color: #fcd7cd;
}

a:hover {
	color: #f69b82;
  text-decoration: underline;
}

a:link img,
a:visited img,
a:hover img,
a:active img {
  border: none;
	text-decoration: none;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}

address {
	font-style:normal;
}

h2,
h3 {
	margin: 30px 0 10px 0;
	font-family: 'Crete Round', serif;
	letter-spacing: 2px;
}

nav {
	margin: 0;
	padding: 0;
}

ul li {
  list-style: none; }

ol {
  padding: 20px;
}

strong {
  font-size: 120%;
  font-weight: bold;
}

pre {
  padding: 20px;
  border: 3px solid #edcfd1;
}

table {
  border-collapse: collapse;
  border: 1px solid #edcfd1;
}

table tr,
table tr th,
table tr td {
  padding: 10px;
  border: 1px solid #edcfd1;
  border-collapse: collapse;
}

th {
  background: #edcfd1;
}

address {
	font-style:normal;
}

nav {
	margin: 0;
	padding: 0;
}

ul li {
  list-style: none; }

ol {
  padding: 20px;
}

strong {
  font-weight: bold;
}

pre {
  padding: 20px;
  border: 3px solid #d4d7da;
}

pre code {
	color: #293745;
}

table {
  border-collapse: collapse;
  border: 1px solid #edcfd1;
}

table tr,
table tr th,
table tr td {
  padding: 10px;
  border: 1px solid #edcfd1;
  border-collapse: collapse;
}

th {
  background: #edcfd1;
}

/*--- id, class ----------------------------------------------*/

#wrapper {
  width: 980px;
	padding: 10px;
	margin: 0 auto;
}

p.btn a:link,
p.btn a:visited,
p.btn a:hover,
p.btn a:active {
	text-decoration:none;
	color: #fff;
}

p.btn a {
	display: block;
	width: 270px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
  margin-bottom: 20px;
}

p.btn a:link,
p.btn a:visited {
	background: #ee3706;
}

p.btn a:hover,
p.btn a:active {
	background: #f15f38;
	position:relative;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.tright {
  text-align: right;
}

.tleft {
  text-align: left;
}

.tcenter {
  text-align: center;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#content {
	background: rgba(255,255,255,0.6);
	width: 940px;
	padding: 20px;
}

#content p {
	color: #293745;
}

#content strong {
  display: block;
  text-align: center;
}

#content h1 {
	background: #293745;
  height: 80px;
  line-height: 80px;
  font-weight: bold
  font-size: 180%;
  color: #d4d7da;
  text-align: center;
  margin-bottom: 30px;
}

#content h1 span {
  margin-left: 20px;
  font-size: 50%;
  color: #d4d7da;
}

#content h2,
#content h3 {
  font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#content h2 {
  border-left: 10px solid #edcfd1;
  padding-left: 6px;
  margin-bottom: 10px;
  font-size: 140%; }

#content h3 {
  font-size: 90%;
  margin: 10px 20px 2px 20px;
}

#content h3 + p {
  margin: 0 20px;
  font-size: 80%;
}

#content a:before {
  content: "» ";
}

#content a:link,
#content a:visited,
#content a:active {
  color: #293745;
}

#content a:hover {
  text-decoration: underline;
}

#information {
	background: #293745;
	width: 940px;
	padding: 20px;
}

#information p {
	color: #fcd7cd;
}

#information dl {
  padding 0;
  width: 480px;
}

#information dt {
  vertical-align: top;
  font-size: 80%;
  font-weight: bold;
  color: #eff6f6;
  width: 170px;
  display: inline-block;
}

#information dd {
  font-size: 80%;
  color: #fcd7cd;
  width: 300px;
  display: inline-block;
}

#links {
  float: left;
  width: 500px;
}

#news {
  padding: 10px;
  border: 5px solid rgba(255,255,255,0.2);
  float: right;
  width: 400px;
}

#news h2 {
  margin-top: 10px;
  color: #eff6f6;
}

.button {
  clear: both;
  display: inline-block;
}

.facebook {
	margin: 1px 3px 0 0;
	float: left;
}

.social-widgets {
  margin-top: 5px;
	float: left;
}

#copyright {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 70%;
  padding: 5px 0;
  text-align: right;
}
