@charset "UTF-8";
/*--- default ----------------------------------------------*/

* {
	color: #fff;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: "Quicksand", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html {
  width: 100%;
}

body {
  background: #333;
  width: 100%;
  height: 100%;
	line-height: 150%;
  margin-top: 10px;
  padding: 0 0 60px 0;
}

a:link,
a:visited,
a:active {
  color: #fff;
}

a:hover {
	color: #fff;
  text-decoration: underline;
}

a:link img,
a:visited img,
a:hover img,
a:active img {
  border: none;
	text-decoration: none;
}

/*--- id, class ----------------------------------------------*/

#wrapper {
  width: 980px;
	padding: 10px;
	margin: 0 auto;
}

#copyright {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 70%;
  padding: 5px 0;
  text-align: right;
}

#pageStatus {
	background: #666;
  height: 300px;
  width: 940px;
  padding: 20px;
  margin: 100px 0 0 0;
  position: relative;
}

#pageStatus h1 {
  color: #ccc;
  margin-top: 20px;
	font-family: 'Crete Round', serif;
  font-size: 300%;
}

#pageStatus p {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
