<a href="<%= '/2012/%s/schedule/details/%s.html' % [I18n.locale, presentation.id] %>"><%= presentation.presenters.map {|presenter| presenter.name }.join(', ') %><br><span class="title">"<%= presentation.title %>"</span></a>
